@model IEnumerable<PaymentsViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<form id="cashBookForm" method="post" asp-controller="Home" asp-action="Payments">
    @Html.AntiForgeryToken()
    <div>
        <label>От дата</label>
        <input type="date" name="startDate" value="@ViewBag.StartDate?.ToString("yyyy-MM-dd")" />
    </div>
    <br />
    <div>
        <label>До дата</label>
        <input type="date" name="endDate" value="@ViewBag.EndDate?.ToString("yyyy-MM-dd")" />
    </div>
    <br />
        <label>Платени/Неплатени: </label>
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle btn-danger" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @ViewBag.Paystatus
            </a>
            <input type="hidden" id="paystatus" name="paystatus" value="@ViewBag.Paystatus" />
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="paidUnpaid">
                <a class="dropdown-item text-danger" href="#">Платени</a>
                <a class="dropdown-item text-danger" href="#">Неплатени</a>
            </div>
        </div>

    <br />
    <button type="submit" class="text-danger" style="background-color:darkred;block-size:100px;writing-mode:vertical-lr">
        <i class="bi bi-binoculars"></i>
    </button>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Документ номер</td>
                <td>Дата</td>
                <td>Партньор</td>
                <td>Обект</td>
                <td>Операция</td>
                <td>Сума</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Acct)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Partner.Company)</td>
                        <td>@Html.DisplayFor(modelItem => item.Object.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.OperationType.Bg)</td>
                        <td>@($"{item.Qtty:f2}")</td>
                    </tr>
                    
                }
            }
        </tbody>
    </table>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#paidUnpaid a.dropdown-item').click(function (e) {
            e.preventDefault();
            var paystatus = $(this).text(); // Get the selected city text
            $('#dropdownMenuLink').text(paystatus); // Update dropdown display text
            $('#paystatus').val(paystatus); // Set the selected city value to the hidden input
        });
    });
</script>
